@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
#menu-1n .mbr-brand__name {
  font-size: 16px;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #105f71;
}
#menu-1n .mbr-navbar__section {
  background: #105f71;
}
#menu-1n .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#content1-1s P {
  color: #777777;
  text-align: center;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #105f71;
}
#menu-0 .mbr-navbar__section {
  background: #105f71;
}
#menu-0 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#header4-6 H1 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#header3-8 H3 {
  font-size: 25px;
  color: #252525;
}
#content1-9 P {
  text-align: left;
}
#content1-m DIV {
  color: #105f71;
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-n P {
  color: #777777;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-z .mbr-brand__name {
  font-size: 16px;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #105f71;
}
#menu-z .mbr-navbar__section {
  background: #105f71;
}
#menu-z .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#menu-1o .mbr-brand__name {
  font-size: 16px;
}
#menu-1o.mbr-navbar--stuck .mbr-navbar__section {
  background: #105f71;
}
#menu-1o .mbr-navbar__section {
  background: #105f71;
}
#menu-1o .mbr-navbar__hamburger {
  color: #c1c1c1;
}
